<!DOCTYPE html>
<html lang="en">
<head>
     <%- include('../views/layout'); %>
</head>
<body class="container">

<header>
    <%- include('../views/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>DigiLocker</h1>
    </div>
</main>

<footer>
    <%- include('../views/footer'); %>
</footer>

</body>
</html>